div
    img.img-thumbnail(src='https://www.w3schools.com/howto/img_fjords.jpg', alt='Smiley face')
    p.h3 Title of the post
    br
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt perspiciatis, rerum nihil eum laboriosam quis iure corporis et nam placeat aliquid odit magni aut ut eius consectetur quidem blanditiis atque.