extends layout
include ./mixins.pug

block content
    include ./featured-post.pug
    div
        p.text-center Hello this is #{currentPath}
        p.h4 Our Latest Articles:
        div.row
            div.col-8
                - for (var i = 0; i < data.length ; i+=2) {
                    - if(data.length === i+1 && data.length % 2 !== 0) {
                        +article-cards(data[i],null)
                    - break 
                    - }
                    +article-cards(data[i],data[i+1])
                - }
            div.col
                div.bg-secondary.text-white
                    p Our Latest Articles:
                        - for (var i = 0; i < data.slice(0,4).length ; i++) {
                            +article-list(i+1,data[i])
                        - }