extends layout
include ./mixins.pug

block content
    if featured
        include ./featured-post.pug
    div
        br
        if !search
            h4.section-header Our Latest Articles:
        else 
            h4.section-header Result:
        div.row
            div.col-lg-8
                - if (data.length !== 0){
                - for (var i = 0; i < data.length ; i+=2) {
                    - if(data.length === i+1 && data.length % 2 !== 0) {
                        +article-cards(data[i],null)
                    - break 
                    - }
                    +article-cards(data[i],data[i+1])
                -  }
                - }
                - else {
                    div
                        .text-center Sorry no post found!! 
                -}
            div#article-list.col.d-none.d-lg-block
                div.text-white
                    p Our Latest Articles:
                        - for (var i = 0; i < list.slice(0,4).length ; i++) {
                            +article-list(i+1,list[i])
                        - }