div.bg-secondary.text-white
    p Our Latest Articles:
        div.row
            div.col-auto
                div.text-center 01
            div.col
                div Lorem ipsum, dolor sit amet consectetur adipisicing elit
        br