doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/main.css')
        title Global Reach Blog Page
    body
        br
        div.container
            div.row
                div.col
                    div.text-left Go to Global Reach Home
                div.col
                    div.h2.text-center 
                        a(href='/') Blog
                div.col
                    div.text-right Search
        br
        ul.nav.justify-content-center
            li.nav-item
                a.nav-link(href='/abroad' class=(currentPath.startsWith('/abroad') ? 'active' : '')) Study abroad
            li.nav-item
                a.nav-link(href='/scholarship' class=(currentPath.startsWith('/scholarship') ? 'active' : '')) Scholarship
            li.nav-item
                a.nav-link(href='/lifestyle' class=(currentPath.startsWith('/lifestyle') ? 'active' : '')) Lifestyle
            li.nav-item
                a.nav-link(href='/exams' class=(currentPath.startsWith('/exams') ? 'active' : '')) Exams
            li.nav-item
                a.nav-link(href='/tips' class=(currentPath.startsWith('/tips') ? 'active' : '')) Tips
            li.nav-item
                a.nav-link(href='/contact' class=(currentPath.startsWith('/contact') ? 'active' : '')) Contact
        div.container
            hr
            br
            block content
                p This is the default Page
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br