doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/solid.js', integrity='sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l', crossorigin='anonymous')
        //- script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js', integrity='sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c', crossorigin='anonymous')
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700|Lato:400,700" rel="stylesheet">
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer='')
        link(rel='stylesheet', href='/css/main.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        //- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js" defer=''></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />  
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />

        title Global Reach Blog Page
    body
        br
        div.container
            div.container.search-box
                form(action="/search", method="get")
                    input(type='search', name='post' placeholder="search")
            div.row
                div.col.d-none.d-lg-block
                    div.text-left.header-link
                        a.d-none.d-lg-block.gr-text(href='http://www.globalreach.in/') Go to Global Reach Home
                div.col
                    div.h2.center
                        img.logo(src="https://firebasestorage.googleapis.com/v0/b/gr-blog-42a8e.appspot.com/o/logo%2FGR_logo-01.png?alt=media&token=d588f84f-d525-4b04-8fe4-6ee83deaebf0", alt="")
                div.col
                    div.text-right.header-link
                        div
                            img#searchButton(src="https://firebasestorage.googleapis.com/v0/b/gr-blog-42a8e.appspot.com/o/logo%2Fsearch_icon.png?alt=media&token=7f58af9b-53f5-4042-a0a8-b62b44cab4ae", alt="")





        br
        ul.nav.justify-content-center
            li.nav-item
                a.nav-link(href='/' class=(currentPath.startsWith('/') ? 'active' : '')) Study abroad
            li.nav-item
                a.nav-link(href='/scholarship' class=(currentPath.startsWith('/scholarship') ? 'active' : '')) Scholarship
            li.nav-item
                a.nav-link(href='/lifestyle' class=(currentPath.startsWith('/lifestyle') ? 'active' : '')) Lifestyle
            li.nav-item
                a.nav-link(href='/exams' class=(currentPath.startsWith('/exams') ? 'active' : '')) Exams
            li.nav-item
                a.nav-link(href='/tips' class=(currentPath.startsWith('/tips') ? 'active' : '')) Tips
            li.nav-item
                a.nav-link(href='/contact' class=(currentPath.startsWith('/contact') ? 'active' : '')) Contact
        div.container
            hr
            br
            block content
                p This is the default Page
    script(src="/js/search.js" defer)