doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/solid.js', integrity='sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l', crossorigin='anonymous')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js', integrity='sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/main.css')
        //- <script src="//localhost:35729/livereload.js"></script>
        title Global Reach Blog Page
    body
        br
        div.container
            div.row
                div.col-sm
                    div.text-left.header-link
                        a(href='http://www.globalreach.in/') Go to Global Reach Home
                div.col-sm
                    div.h2.text-center
                        a(href='/') Blog
                div.col-sm
                    div.text-right.header-link
                        form(action="/search", method="get")
                            .row
                                .col-xs-6.ml-auto
                                    div
                                        .input-group
                                            input#example-search-input.form-control.py-2.border-right-0.border(type='search', name='post', placeholder='search')
                                            span.input-group-append
                                            button.btn.btn-outline-secondary.border-left-0.border(type='submit')
                                                i.fa.fa-search





        br
        ul.nav.justify-content-center
            li.nav-item
                a.nav-link(href='/' class=(currentPath.startsWith('/') ? 'active' : '')) Study abroad
            li.nav-item
                a.nav-link(href='/scholarship' class=(currentPath.startsWith('/scholarship') ? 'active' : '')) Scholarship
            li.nav-item
                a.nav-link(href='/lifestyle' class=(currentPath.startsWith('/lifestyle') ? 'active' : '')) Lifestyle
            li.nav-item
                a.nav-link(href='/exams' class=(currentPath.startsWith('/exams') ? 'active' : '')) Exams
            li.nav-item
                a.nav-link(href='/tips' class=(currentPath.startsWith('/tips') ? 'active' : '')) Tips
            li.nav-item
                a.nav-link(href='/contact' class=(currentPath.startsWith('/contact') ? 'active' : '')) Contact
        div.container
            hr
            br
            block content
                p This is the default Page
            br
            br
            br