mixin article-cards(one, two)
    div.row
        div.col
            div
                img.img-thumbnail.image(src= one.content[0].image, alt= one.title)
                a(href="/post/"+one.slug).h3= one.title
                br
                p= one.summary
        div.col
            if two
                div
                    img.img-thumbnail.image(src= two.content[0].image, alt= two.title)
                    a(href="/post/"+two.slug).h3= two.title
                    br
                    p= two.summary

mixin article-list(index,post)
    div.row
        div.col-2
            div.text-center= index
        div.col
            div
                a#list(href="/post/"+post.slug).h5= post.title
        br