extends layout

block content
    div.row.align-items-center.justify-content-center
        div.col
            div.post-image
                img(src= data.content[0].image, alt= data.title)
        div.col
            div.post-header
                h3= data.title
                div.d-inline 17th March, 2018
                div.d-inline &nbsp &nbsp &nbsp
                div.d-inline By - 
                    span= data.author
    br
    div
        p= data.content[0].body