.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 1.65em;
  color: #3d3939;
}

p {
  color: #3d3939;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  color: #3d3939;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
  border-radius: 0;
  border: 0;
  outline: 0;
}

/* Post  */

/* .post-image {
  width: 768px;
  height: 432px;
  flex-basis: auto;
}

.post-image > img {
  width: 100%;
  height: 100%;
} */

.header-link {
  padding-top: 3%;
}

#list {
  color: white;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.search {
  width: 114px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("/image/search.png");
  background-position: 5px 9px;
  background-repeat: no-repeat;
  background-size: 26%;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
  width: 50%;
  background-size: 20%;
}

#inputEmail:valid,
#inputPassword:valid,
#inputAddress:valid,
#inputMessage:valid {
  border: 2px solid #4caf50;
}

#inputEmail:focus:invalid,
#inputPassword:focus:invalid,
#inputAddress:focus:invalid,
#inputMessage:focus:invalid {
  border: 2px solid #f44336;
}

#inputEmail:focus:required,
#inputPassword:focus:required,
#inputAddress:focus:required,
#inputMessage:focus:required {
  border: 2px solid #03a9f4;
}

/* Nav */
.nav-link {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/* Featured */

#featured {
  margin-bottom: 100px;
}

#featured > .col-md {
  width: 640px;
  height: 360px;
  margin-right: 40px;
}

@media (max-width: 991px) {
  #featured > .col-md {
    width: 320px;
    height: 180px;
    margin-right: 40px;
  }
}

#featured > .col-md > img {
  width: 100%;
  height: 100%;
}

#featured > .col-md:last-child h3 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: bold;
}

#featured > .col-md:last-child .d-inline {
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 14px;
  font-weight: 500;
}

#featured > .col-md:last-child p {
  font-family: "EB Garamond", serif;
  font-size: 17px;
  font-weight: 500;
}

#featured > .col-md:last-child a {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  padding: 9px 15px;
  background-color: #c2fff0;
}

#featured > .col-md:last-child a:hover {
  background-color: #c8f2e8;
  color: #25443f;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* Section header */
.section-header {
  margin-bottom: 40px;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 24px;
}

/* Article post */

.image {
  border: none;
  height: 180px;
  width: 320px;
  margin-bottom: 10px;
}

.article-post {
  margin-right: 10%;
}
.article {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .article-post {
    margin-right: 0px;
  }
  .article > .col-sm {
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
  }
}

#article {
  max-width: 320px;
}

#article > a {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 18px;
}

#article > p {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 15px;
}

/* Side Post */
#article-list > div {
  background-color: #cccecfda;
}

#article-list {
  margin-left: 6.7%;
}

#article-list p {
  color: #2e2d2dce;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  padding-top: 10px;
}

#article-list a {
  color: #2e2d2dce;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 17px;
}

#article-list .text-center {
  color: #4e4d4d;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 70%;
}

#article-list .list {
  margin-bottom: 10px;
}

/* LOGO */
.center {
  text-align: center;
}

.logo {
  width: 50%;
}

@media (max-width: 991px) {
  .center {
    text-align: left;
  }
}

@media (max-width: 800px) {
  .logo {
    width: 70%;
  }
}

/* Search */
/* Global Reach Text */

.gr-text {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 18px;
}

/* Post Header */

.post-header > h3 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-size: 36px;
}

.post-header > h3 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-size: 36px;
}

.post-header > div {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 16px;
}

.post-header > .d-inline {
  position: relative;
}

.post-body {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 17px;
  width: 75%;
  margin-left: 12.5%;
}

@media (max-width: 1200px) {
  .post-body {
    width: 100%;
    margin-left: 0%;
  }
}

/* Search box */
.search-box {
  background: white;
  top: -100%;
  height: 120px;
  left: 0%;
  text-align: center;
  position: absolute;
  transition: top 0.5s ease;
  width: 100%;
  z-index: 10;
  left: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  transform: translate3d(-50%, 0, 0);
}

.search-box-viewable {
  top: 0%;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* overlay */
.overlay {
  background-color: #c2fff0;
  z-index: -1;
  width: 77%;
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px 0;
}
