.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 1.65em;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  color: #343a40;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Post  */

/* .post-image {
  width: 768px;
  height: 432px;
  flex-basis: auto;
}

.post-image > img {
  width: 100%;
  height: 100%;
} */

.header-link {
  padding-top: 3%;
}

#list {
  color: white;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.search {
  width: 114px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("/image/search.png");
  background-position: 5px 9px;
  background-repeat: no-repeat;
  background-size: 26%;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
  width: 50%;
  background-size: 20%;
}

#inputEmail:valid,
#inputPassword:valid,
#inputAddress:valid,
#inputMessage:valid {
  border: 2px solid #4caf50;
}

#inputEmail:focus:invalid,
#inputPassword:focus:invalid,
#inputAddress:focus:invalid,
#inputMessage:focus:invalid {
  border: 2px solid #f44336;
}

#inputEmail:focus:required,
#inputPassword:focus:required,
#inputAddress:focus:required,
#inputMessage:focus:required {
  border: 2px solid #03a9f4;
}

/* Nav */
.nav-link {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/* Featured */

#featured {
  margin-bottom: 100px;
}

#featured > .col-md {
  width: 640px;
  height: 360px;
  margin-right: 40px;
}

/* @media only screen and (max-width: 600px) {
  #featured > .col-md {
    width: 320px;
    height: 180px;
    margin-right: 40px;
  }
} */

#featured > .col-md > img {
  width: 100%;
  height: 100%;
}

#featured > .col-md:last-child h3 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: bold;
}

#featured > .col-md:last-child .d-inline {
  font-family: "EB Garamond", serif;
  font-size: 13px;
  font-weight: 500;
}

#featured > .col-md:last-child p {
  font-family: "EB Garamond", serif;
  font-size: 17px;
  font-weight: 500;
}

#featured > .col-md:last-child a {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

/* Section header */
.section-header {
  margin-bottom: 40px;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 24px;
}

/* Article post */

.image {
  border: none;
  height: 180px;
  width: 320px;
  margin-bottom: 10px;
}

.article-post {
  margin-right: 10%;
}
.article {
  margin-bottom: 10px;
}

#article {
  max-width: 320px;
}

#article > a {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 18px;
}

#article > p {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 15px;
}

/* Side Post */
#article-list > div {
  background-color: #cccecfda;
}

#article-list {
  margin-left: 6.7%;
}

#article-list p {
  color: #2e2d2dce;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  padding-top: 10px;
}

#article-list a {
  color: #2e2d2dce;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 17px;
}

#article-list .text-center {
  color: #4e4d4d;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 70%;
}

#article-list .list {
  margin-bottom: 10px;
}

/* LOGO */
.center {
  text-align: center;
}

.logo {
  width: 60%;
}

@media (max-width: 991px) {
  .center {
    text-align: left;
  }
}

@media (max-width: 800px) {
  .logo {
    width: 100%;
  }
}

/* Search */
/* Global Reach Text */

.gr-text {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 18px;
}

/* Post Header */

.post-header > h3 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-size: 36px;
}

.post-header > h3 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-size: 36px;
}

.post-header > div {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 16px;
}

.post-body {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 17px;
  width: 75%;
  margin-left: 12.5%;
}

@media (max-width: 1200px) {
  .post-body {
    width: 100%;
    margin-left: 0%;
  }
}
